*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #171717, #414141);
    display: grid;
    place-content: center;
    
    .greet{
        text-align: center;
        color: white;
        
    }
}